<div *ngIf="authService.userData as user">
    <div class="border-bottom text-center">
      <h1>Thank You for Registering!</h1>
    </div>
  
    <div class="text-center">
      <p>We have sent a confirmation email to <strong>{{user.email}}</strong>.</p>
      <p>Please check your email and click on the link to verify your email address.</p>
  
      <!-- Calling SendVerificationMail() method using authService Api -->
      <button type="button" class="btn btn-primary btn-large" (click)="authService.SendVerificationMail()">
        Resend Verification Email
      </button>
  
      <div class="mt-3">
        Go back to<a routerLink="/sign-in"> Sign In</a>
      </div>
  
    </div>
  </div>
