<div class="border-bottom text-center">
    <h1>Forgot Password</h1>
</div>

<div class="text-center">
    <div class="formGroup mt-2 mb-2">
        <input type="text" class="formControl" placeholder="Email Adress" #passwordResetEmail required>
    </div>

    <button type="button" class="btn btn-primary btn-large" (click)="authService.ForgotPassword(passwordResetEmail.value)">
        Reset Password
    </button>

    <div class="mt-3">
        Go back to <a routerLink="/sign-in">Login</a>
    </div>
</div>  
